.vertical-tabs__panes > details {
  border: none;
}
/**
 * Styles for link buttons and action links.
 */
.action-links {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
[dir="rtl"] .action-links {
  /* This is required to win over specificity of [dir="rtl"] ul */
  margin-right: 0;
}
.action-links li {
  display: inline-block;
  margin: 0 0.3em;
}
.action-links li:first-child {
  margin-left: 0; /* LTR */
}
[dir="rtl"] .action-links li:first-child {
  margin-right: 0;
  margin-left: 0.3em;
}
.button-action::before {
  margin-left: -0.1em; /* LTR */
  padding-right: 0.2em; /* LTR */
  content: "+";
  font-weight: 900;
}
[dir="rtl"] .button-action::before {
  margin-right: -0.1em;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0.2em;
}
input.machine-name-source {
  border-radius: 0.3em;
}

/**
 * General styles for dropbuttons.
 */
.js .dropbutton-widget {
  display: inline-block;
  border: 1px solid var(--bs-gray);
  border-radius: 0.3em;
  background-color: var(--bs-light);
}
.js .dropbutton-widget:hover {
  border-color: var(--bs-blue);
}
.dropbutton .dropbutton-action > * {
  padding: 0.1em 0.5em;
  white-space: nowrap;
}
.dropbutton .secondary-action {
  border-top: 1px solid var(--bs-gray);
}
.dropbutton-multiple .dropbutton {
  border-right: 1px solid var(--bs-gray); /* LTR */
}
[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-right: 0 none;
  border-left: 1px solid var(--bs-gray);
}
.dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0.25em; /* LTR */
}
[dir="rtl"] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0;
  margin-left: 0.25em;
}

/**
 * Table drag behavior.
 */
a.tabledrag-handle .handle {
  display: table-cell;
  padding-right: 1rem !important;
}
.draggable a.tabledrag-handle,
.field-multiple-drag a.tabledrag-handle {
  margin-top: -3px;
  margin-left: -0.8em;
}
.draggable a.tabledrag-handle .handle,
.field-multiple-drag a.tabledrag-handle .handle {
  height: 23px;
  -webkit-mask-position-x: 8px;
  -webkit-mask-position-y: 8px;
}
.draggable td fieldset {
  border: none !important;
  box-shadow: none !important;
}
.block-admin-display-form tr {
  vertical-align: middle;
}

/* Fixed paragraphs drag */
.js .field--widget-paragraphs .field-multiple-drag {
  min-width: 25px;
}
.field-multiple-table .draggable .field-multiple-drag {
  width: 1.2em;
}

/**
 * Dialog.
 */
.ui-dialog .ui-dialog-titlebar-close::before {
  content: "X";
}
.ui-dialog .ui-dialog-titlebar-close {
  height: 25px;
}

/**
 * Views list.
 */
.views-listing-table td h3 {
  font-size: 1rem;
}
.views-display-top .tabs.secondary {
  list-style: none;
}
.views-displays .tabs .action-list {
  position: absolute;
  z-index: 50;
  top: 2.375rem;
  left: -2px;
  margin: 0;
  box-shadow: var(--bs-box-shadow);
}
.views-ui-display-tab-bucket .dropbutton-widget input.form-submit,
.views-displays .tabs .action-list input.form-submit {
  width: 100%;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: left;
  color: var(--bs-dark);
  border: medium none;
  border-radius: 0;
}
.views-ui-display-tab-bucket .dropbutton-widget .dropbutton-action:hover {
  color: var(--bs-gray-700);
  background: var(--bs-light);
}
.views-ui-dialog .views-filterable-options-controls .form-item,
.views-ui-dialog .views-override .form-item-override-dropdown {
  display: inline-block;
}
.views-view-table th.select-all {
  width: 2em;
}
.views-filterable-options .form-type-checkbox.form-switch {
  padding-left: 2.5em !important;
}
.view-filters .bootstrap-select {
  display: block !important;
}
.views-exposed-form fieldset.form-item {
  flex: 0 0 auto;
  width: auto;
}
.views-exposed-form fieldset legend {
  font-size: 1em;
}

.views-form div[data-drupal-selector$="-bulk-form"] {
  display: flex;
}
.views-form div[data-drupal-selector^="edit-actions"] button {
  margin-top: 2.5em !important;
  margin-left: 1em;
}

.view-preview-form .preview-submit-wrapper {
  margin-top: 3.3em;
}

.form-item-options-delta-offset .input-group .form-control,
.form-item-options-delta-limit .input-group .form-control {
  width: auto;
}

.vbo-view-form .vbo-multipage-selector,
.vbo-view-form summary {
  text-align: left;
  border: none;
}
.vbo-view-form #vbo-action-form-wrapper {
  display: flex;
}
.vbo-view-form #vbo-action-form-wrapper .form-item-action select {
  display: inline-block;
}
.vbo-view-form #vbo-action-form-wrapper .js-form-item-select-all {
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.vbo-view-form div[data-drupal-selector^="edit-actions"] button {
  margin-top: auto !important;
  margin-left: 1em;
}
.vbo-actions-widget fieldset .fieldset-wrapper {
  padding: 0 1em;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
.system-modules .table-filter {
  margin-top: 1em;
}

/**
 * Progress run batch or install.
 */
.progress-wrapper .progress {
  display: initial !important;
  height: auto !important;
}

/**
 * Form field ui.
 */
.field-ui-field-storage-add-form .input-group label,
.field-ui-field-storage-add-form .input-group .field-prefix,
.field-ui-field-storage-add-form .input-group .description {
  margin-top: 0.5rem !important;
  margin-right: 0.2rem !important;
}
.form-item-date-format-pattern.input-group,
.form-item-gd-image-jpeg-quality.input-group,
.form-type--machine-name.input-group,
.form-type--machine-name.input-group label {
  display: block;
}
.form-type--machine-name.input-group input.machine-name-target {
  display: inline-block;
  width: auto;
}
.shortcut-form .form-type--entity-autocomplete,
.form-item-settings-label.input-group {
  display: block;
}
.form-item-date-format-pattern input.form-control,
.shortcut-form .form-type--entity-autocomplete input,
.form-item-gd-image-jpeg-quality input.form-control,
.form-item-site-frontpage input.form-control,
.form-item-settings-label input.form-control {
  display: inline-block;
  width: auto;
}
.form-item-date-format-pattern label,
.form-item-gd-image-jpeg-quality label,
.shortcut-form .form-type--entity-autocomplete label,
.form-item-site-frontpage label,
.form-item-settings-label label {
  display: block;
  font-weight: bold;
}
.form-item-gd-image-jpeg-quality .input-group-text {
  display: inline;
}
.form-required::after {
  display: inline-block;
  margin-inline: 0.15em;
  content: "*";
  color: var(--bs-danger);
  font-size: 0.875rem;
}
.image-style-new {
  display: flex;
}
.system-file-system-settings label {
  display: inline;
  width: auto;
  font-weight: bold;
  line-height: 10px;
}

/**
 * Fixed /admin/appearance
 */
.system-themes-list-uninstalled .screenshot,
.system-themes-list-uninstalled .no-screenshot {
  max-width: initial;
}
/**
 * Fixed placeholder generate by drupal.
 */
em.placeholder {
  vertical-align: initial;
  opacity: initial;
  background-color: initial !important;
}
a em.placeholder {
  text-decoration: underline;
}

/**
 * Fixed popup overlay z-index.
 */
.ui-widget-overlay {
  z-index: 1;
}

/* Fixed node edit */
.entity-meta__header .col-form-label {
  width: auto;
  padding-top: initial;
  font-weight: bold;
}
.entity-content-form-footer select {
  display: inline-block;
}
.smartdate--time-inline .input-group {
  width: auto;
}

/* Fixed message system */
.messages__wrapper .messages {
  margin-bottom: 1rem;
  padding: 0.75rem 1rem 1rem 2.3rem;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background: no-repeat 10px 17px;
  overflow-wrap: break-word;
}
.messages__wrapper .messages a {
  color: var(--bs-primary);
}
.messages__wrapper .messages--status {
  color: var(--bs-success-text-emphasis);
  border-color: var(--bs-success);
  background-color: var(--bs-success-bg-subtle);
  background-image: url("../img/status.svg");
  box-shadow: -8px 0 0 var(--bs-success);
}
[dir="rtl"] .messages--status {
  box-shadow: 8px 0 0 var(--bs-success);
}
.messages__wrapper .messages--error {
  color: var(--bs-danger-text-emphasis);
  border-color: var(--bs-danger);
  background-color: var(--bs-danger-bg-subtle);
  background-image: url("../img/error.svg");
  box-shadow: -8px 0 0 var(--bs-danger);
}
[dir="rtl"] .messages--error {
  box-shadow: 8px 0 0 var(--bs-danger);
}
.messages__wrapper .messages--warning {
  color: var(--bs-warning-text-emphasis);
  border-color: var(--bs-warning);
  background-color: var(--bs-warning-bg-subtle);
  background-image: url("../img/warning.svg");
  box-shadow: -8px 0 0 var(--bs-warning);
}
[dir="rtl"] .messages--warning {
  box-shadow: 8px 0 0 var(--bs-warning);
}

/**
 * Menu edit form
 */
.menu-edit-form .dropbutton-widget {
  border: none;
}
.menu-edit-form #menu-overview .dropbutton-widget {
  border: 1px solid var(--bs-gray-400);
}
button.link {
  text-decoration: underline;
  color: var(--bs-primary);
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  font-weight: 400;
}
button.link:hover {
  color: var(--bs-primary);
}
details .details-wrapper fieldset.border {
  border: none !important;
  box-shadow: none !important;
}

/**
 * Edit node form.
 */
.layout-region--footer.sticky-bottom .entity-content-form-footer {
  margin-top: 5px;
  margin-right: 5px;
}

/**
 * Maintenance page.
 */
.maintenance-page a.button {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0.75rem 0.375rem;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: var(--bs-white);
  border: 1px solid var(--bs-dark);
  border-radius: 0.375rem;
  background: var(--bs-primary);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.maintenance-page a.button:hover {
  background: var(--bs-info);
}
.icon-link {
  align-items: initial !important;
}
.icon-link.dropdown-toggle::after {
  margin-top: 0.6em;
}
.navbar #notify_widget {
  margin: auto;
}
.dropbutton .icon-link {
  text-decoration: none;
}
.form--inline .table td > .row {
  margin-left: auto;
}

.system-status-report .accordion-body dt {
  border-right: 0;
  border-radius: 0.5em 0 0 0.5em;
}

.system-status-report .accordion-body dd {
  border-left: 0;
  border-radius: 0 0.5em 0.5em 0;
}

.locale-translate-edit-form .table-responsive {
  overflow-x: inherit;
}

.text-decoration-none a {
  text-decoration: none;
}

/**
 * Fixed media library.
 */
.media-library-menu li {
  padding: 0.5rem 0;
}

.media-library-menu li a.active {
  color: var(--bs-primary);
}

.media-library-menu__link.active:hover::before {
  background: none;
}

.media-library-menu + .media-library-content {
  z-index: var(--zindex-dropdown);
  border-left: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
  box-shadow: var(--bs-box-shadow);
}
[dir="rtl"] .media-library-menu + .media-library-content {
  border-right: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color);
  border-left: 0;
}
.media-library-menu.list-group li {
  padding: var(--bs-list-group-item-padding-y)
    var(--bs-list-group-item-padding-x);
  border-bottom: var(--bs-list-group-border-width) solid
    var(--bs-list-group-border-color);
  background-color: var(--bs-list-group-bg);
}
.media-library-menu.list-group li a {
  text-decoration: none;
  color: var(--bs-list-group-color);
}

.media-library-wrapper .views-display-link-widget_table::before {
  content: "▦";
}
.media-library-wrapper .views-display-link-widget::before {
  content: "⣿";
}

/**
 * Fixed dashboard
 */
.dashboard .layout {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;

  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.dashboard .layout .layout__region {
  margin-top: var(--bs-gutter-y);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.dashboard .layout .layout__region .block {
  padding: 0.75rem !important;
}

.dashboard {
  & .layout {
    & .block {
      --space-s: 0.75rem;
      --space-m: 1rem;
      --space-l: 1.5rem;

      margin-block-end: var(--space-l);
      margin-inline-end: 0;
      border: 1px solid var(--bs-border-color);
      border-radius: var(--bs-border-radius-xl);
      box-shadow: var(--bs-box-shadow);

      & h2 {
        margin-block-start: 0;
        padding: var(--space-m) var(--space-l);
        color: var(--bs-primary);
        border-radius: var(--bs-border-radius);
        background: var(--bs-primary-bg-subtle);
        margin-inline: initial;
      }

      > .contextual-region {
        margin-inline: var(--space-s);
        margin-block-end: var(--space-s);
      }

      /*
      * Announcement block theming
      */
      & .announcements {
        margin-block-start: var(--space-l, var(--space-l));
      }

      & .announcement {
        & a {
          color: var(--bs-dark);
        }
      }
      & .announcement__date {
        color: var(--bs-gray-800);
      }
    }

    /**
    * Menu blocks
    */
    & .block-menu {
      & ul.nav {
        & li.nav-item {
          position: relative;
          & a {
            color: var(--bs-black);
            border-block-end: calc(1em / 16) solid var(--bs-gray-200);
            padding-block: var(--space-s);

            /**
            * Item link icon.
            */
            &::after {
              position: absolute;
              display: block;
              content: "⮚";
              transition: transform 0.3s;
              mask-repeat: no-repeat;
              mask-position: center 2px;
              inset-block-start: calc(50% - 0.75rem);
              inset-inline-end: var(--space-l);
              inline-size: 1em;
              block-size: 1.5em;
            }

            &:hover {
              color: var(--bs-primary);
            }
          }
        }
      }

      /*
      * Adjustments for first and last item on the top level menu
      */
      > ul.nav > li.nav-item {
        &:first-child > a {
          padding-block-start: var(--space-s);
        }
      }
    }

    /**
    * Generic views
    */

    & .block-views {
      a {
        text-decoration: none;
      }

      .more-link {
        margin-block-end: var(--space-m);
        margin-inline-end: var(--space-l);
      }

      .views-empty,
      .view-empty {
        font-size: var(--bs-body-font-size);
        gap: var(--space-l);
      }
    }

    /*
    * Recent Content
    */
    & .block-views-blockrecent-content-block-recent-content {
      time {
        color: var(--color-gray-450);
        font-size: var(--font-size-s);
      }
    }
  }
}
